html
    head
        style(type='text/css').
            #container {
                max-width: 400px;
                height: 400px;
                margin: auto;
            }
    body
        #container
        script(src='/javascript/sigma.min.js')
        script(src='/javascript/plugins/sigma.parsers.json.min.js')
        script.
            sigma.parsers.json('/data/data.json', {
                container: 'container',
                settings: {
                    defaultNodeColor: '#ec5148'
                }
            });