extends layout

block content
  center
    h1= title
  h2 Configurer les bots voulus
  hr
  | Définir le nombre de bots

  form

    select
      option(value="50") 50
      option(value="100") 100
      option(value="250") 250
      option(value="500") 500
      option(value="1000") 1000
      option(value="5000") 5000
    br
    p
    | Définir le pourcentage de bots de type Leader
    br
    select
      option(value="5") 5
      option(value="10") 10
      option(value="25") 25
      option(value="30") 30
      option(value="50") 50
    p
    | Définir le pourcentage de bots de type Suiveur
    br
    select
        option(value="50") 50
        option(value="70") 70
        option(value="75") 75
        option(value="90") 90
        option(value="95") 95
    br
    button(formmethod='GET', value="Valider" name="valider")




