extends layout

block content
  center
    h1= title
  h2 Configurer les bots voulus
  hr
  | Définir le nombre de bots

  form(action='/simulation' , method='get')

    select(name="select")
      option(value="50") 50
      option(value="100") 100
      option(value="250") 250
      option(value="500") 500
      option(value="1000") 1000
      option(value="5000") 5000
    br
    p
    | Définir le pourcentage de bots de type Leader/Suiveur
    br
    select(name="leader")
      option(value="5") 5/95
      option(value="10") 10/90
      option(value="25") 25/75
      option(value="30") 30/70
      option(value="50") 50/50

    p
    | Définir le nombre de tours de la simulation
    br
    input(type="text", name = "tours")

    p
    | Lancer la simulation
    br
    button(value="Valider" type="submit")




