html
    head
        style(type='text/css').
            #container1 {
                max-width: 900px;
                height: 900px;
                margin: auto;
            }
            #container2 {
                max-width: 900px;
                height: 900px;
                margin: auto;
            }
            h1 {
                font-size: 32px;
                text-align:center;
            }
        script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
        script.
            var genStats = [];
            $(function () {
                $.getJSON('/data/statsGenerales.json', function (data) {
                    genStats[0] = data.tweets
                    genStats[1] = data.likes
                    genStats[2] = data.retweets
                    genStats[3] = data.bots
                    });
            });
            var botStats = [];
            $(function () {
                $.getJSON('/data/statsBots.json', function (data) {
                    botStats[0] = data.leader.freqtweet
                    botStats[1] = data.leader.moylike
                    botStats[2] = data.leader.moyrt
                    botStats[3] = data.leader.moyhash
                    botStats[4] = data.suiveur.freqtweet
                    botStats[5] = data.suiveur.moylike
                    botStats[6] = data.suiveur.moyrt
                    botStats[7] = data.suiveur.moyhash

                });
            });
            var propBots = [];
            $(function () {
                $.getJSON('/data/proportionBots.json', function (data) {
                    propBots[0] = data.leaders
                    propBots[1] = data.suiveurs
                });
            });
            var propType = [];
            $(function () {
                $.getJSON('/data/proportionType.json', function (data) {
                    propType[0] = data.normaux
                    propType[1] = data.liens
                    propType[2] = data.photo
                    propType[3] = data.retweet
                });
            });
        script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')
        script(type='text/javascript').
            google.charts.load('current', {'packages': ['corechart','bar']});
            google.charts.setOnLoadCallback(drawChart1);
            google.charts.setOnLoadCallback(drawChart2);
            google.charts.setOnLoadCallback(drawChart3);
            google.charts.setOnLoadCallback(drawChart4);

            function drawChart1() {
                var data = google.visualization.arrayToDataTable([
                    ['données', 'quantité'],
                    ['tweets', genStats[0]],
                    ['likes', genStats[1]],
                    ['Retweets', genStats[2]],
                    ['bots', genStats[3]]
                ]);

                var options = {
                    chart: {
                        title: 'Statistiques générales',
                        titleTextStyle:{color: 'grey', fontName: 'Arial', fontSize: 18}
                    },
                    legend:{ position: 'none'},
                    bars: 'vertical' // Required for Material Bar Charts.
                };

                var chart = new google.charts.Bar(document.getElementById('chart1'));

                chart.draw(data, google.charts.Bar.convertOptions(options));

            }

            function drawChart2() {
                var data = google.visualization.arrayToDataTable([
                    ['Type', 'Nombre'],
                    ['Leaders', propBots[0]],
                    ['Suiveurs', propBots[1]]
                ]);

                var options = {
                    title: 'Proportion de bots',
                    titleTextStyle:{color: 'grey', fontName: 'Arial', fontSize: 18}
                };

                var chart = new google.visualization.PieChart(document.getElementById('chart2'));

                chart.draw(data, options);

            }

            function drawChart3() {
                var data = google.visualization.arrayToDataTable([
                    ['Données', 'Leader','Suiveur'],
                    ['fréqence de tweets par min',botStats[0],botStats[4]],
                    ['nombre moyen de likes par tweet',botStats[1],botStats[5]],
                    ['nombre moyen de Retweets par tweet',botStats[2],botStats[6]],
                    ['nombre moyen de hashtags par tweet',botStats[3],botStats[7]]
                ]);

                var options = {
                    chart: {
                        title: 'Statistiques par type de bot',
                        titleTextStyle:{color: 'grey', fontName: 'Arial', fontSize: 18}
                    },
                    bars: 'vertical' // Required for Material Bar Charts.
                };

                var chart = new google.charts.Bar(document.getElementById('chart3'));

                chart.draw(data, google.charts.Bar.convertOptions(options));

            }

            function drawChart4() {
                var data = google.visualization.arrayToDataTable([
                    ['Type', 'Nombre'],
                    ['Normaux',propType[0]],
                    ['Liens', propType[1]],
                    ['photo',propType[2]],
                    ['retweet',propType[3]]
                ]);

                var options = {
                    title: 'Proportion des types de tweets',
                    titleTextStyle:{color: 'grey', fontName: 'Arial', fontSize: 18}
                };
                var chart = new google.visualization.PieChart(document.getElementById('chart4'));

                chart.draw(data, options);

            }
        title Résultats de la simulation

    body
        h1 Résultats de la simulation
           h2
            center
               a(href="/simulation", title="Logs") (Logs)
        #column1(style='float:left; margin:0; width:50%;')
            #chart1(style='width: 900px; height: 500px;')
            #chart2(style='width: 900px; height: 500px;')
            #container1
                script(src='/javascript/sigma.min.js')
                script(src='/javascript/plugins/sigma.parsers.json.min.js')
                script.
                    graph1 = new sigma.parsers.json('/data/interactGraph.json', {
                        container: 'container1',
                        settings: {
                            defaultNodeColor: '#ec5148'
                        }
                    });




        #column2(style='float:left; margin:0; width:50%;')
            #chart3(style='width: 950px; height: 500px;')
            #chart4(style='width: 900px; height: 500px;')
            #container2
                script(src='/javascript/sigma.min.js')
                script(src='/javascript/plugins/sigma.parsers.json.min.js')
                script.
                    graph2 = new sigma.parsers.json('/data/followGraph.json', {
                        container: 'container2',
                        settings: {
                            defaultNodeColor: '#ec5148'
                        }
                    });
