html
    head
        script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')
        script(type='text/javascript').
            google.charts.load('current', {'packages': ['corechart','bar']});
            google.charts.setOnLoadCallback(drawChart1);
            google.charts.setOnLoadCallback(drawChart2);
            google.charts.setOnLoadCallback(drawChart3);

            function drawChart1() {
                var data = google.visualization.arrayToDataTable([
                    ['données', 'quantité'],
                    ['tweets', 1000],
                    ['likes', 1170],
                    ['Retweets', 660],
                    ['bots', 1030]
                ]);

                var options = {
                    chart: {
                        title: 'Statistiques générales'
                    },
                    bars: 'vertical' // Required for Material Bar Charts.
                };

                var chart = new google.charts.Bar(document.getElementById('chart1'));

                chart.draw(data, google.charts.Bar.convertOptions(options));

            }

            function drawChart2() {
                var data = google.visualization.arrayToDataTable([
                    ['Type', 'Nombre'],
                    ['Leaders', 50],
                    ['Suiveurs', 200]
                ]);

                var options = {
                    title: 'proportion de bots'
                };

                var chart = new google.visualization.PieChart(document.getElementById('chart2'));

                chart.draw(data, options);

            }

            function drawChart3() {
                var data = google.visualization.arrayToDataTable([
                    ['Données', 'Leader','Suiveur'],
                    ['fréqence de tweets par min',60,5],
                    ['nombre moyen de likes par tweet',70,3],
                    ['nombre moyen de Retweets par tweet',25,2]
                ]);

                var options = {
                    chart: {
                        title: 'Statistiques par type de bot'
                    },
                    bars: 'vertical' // Required for Material Bar Charts.
                };

                var chart = new google.charts.Bar(document.getElementById('chart3'));

                chart.draw(data, google.charts.Bar.convertOptions(options));

            }


    body
        #chart1(style='width: 900px; height: 500px;')
        #chart2(style='width: 900px; height: 500px;')
        #chart3(style='width: 900px; height: 500px;')
